# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/uploads/
*.pyc

# Frontend
frontend-react/node_modules/
frontend-react/dist/
frontend-react/.env
frontend-react/build/

# General
.DS_Store
.idea/
.vscode/
*.log
